// span.flag {
//   width: 44px;
//   height: 30px;
//   display: inline-block;
// }
// img.flag {
//   width: 30px;
// }

// :host ::ng-deep .p-dialog .product-image {
//     width: 150px;
//     margin: 0 auto 2rem auto;
//     display: block;
// }