table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;
  background-color: #ffffff;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background-color: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  // background-color: #ffffff;
}

.example-element-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-element-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.example-element-detail {
  display: flex;
  min-height: 0;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
}
td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}
td.mat-column-expand {
  width: 20px;
  padding-right: 8px;
}
