@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theming;



// Purple as primary
$primary-palette: mat.define-palette(mat.$purple-palette, 500, 300, 700);

// Pink as accent
$accent-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Optional warn palette
$warn-palette: mat.define-palette(mat.$red-palette);
