// @use '@angular/material' as mat;
// @use 'src/themes/light-theme.scss';
// @use 'src/themes/dark-theme.scss';

// @include mat.all-component-themes($light-theme); // For light theme
// @include mat.all-component-themes($dark-theme);  // For dark theme
