// @use "@angular/material" as mat;
// $light-theme: mat.define-light-theme((
//   color: (
//     primary: $primary-palette,
//     accent: $accent-palette,
//     warn: $warn-palette,
//   ),
//   typography: mat.define-typography-config(),
// ));
