/* You can add global styles to this file, and also import other style files */
// @use "./themes/custom-theme.scss" as theme;
// @use "src/themes/custom-theme" as theme;

// .light-theme {
//   @include mat.all-component-colors($light-theme);
// }

// .dark-theme {
//   @include mat.all-component-colors($dark-theme);
// }

// @import "@angular/material/prebuilt-themes/azure-blue.css";
// @import "@angular/material/prebuilt-themes/rose-red.css";
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";
@use "tailwindcss";
// @use "tailwindcss-primeui";

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      // color: mat.$violet-palette,
      color:
        (
          // theme-type: dark,
          primary: mat.$azure-palette,
          // tertiary: mat.$rose-palette,
          // $red-palette, $green-palette, $blue-palette, $yellow-palette,
          // $cyan-palette, $magenta-palette, $orange-palette,
          // $chartreuse-palette, $spring-green-palette,
          // $azure-palette, $violet-palette, $rose-palette;
        ),
      // typography: Roboto,
      typography:
        (
          plain-family: Roboto,
          brand-family: Helvetica,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300
        ),
      density: -4,
      // 0 is default, range is -5 to 0
    )
  );
}

// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.demo-container {
  padding: 6px;
  // min-height: calc(100vh - 101px);
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  background: #ffffff;
  color: var(--mat-sys-on-surface);
  margin-bottom: 6px;
}

.p-organizationchart-table {
  border: none;
  .p-organizationchart-node {
    border: 1px solid #dfdfdf;
    box-shadow: 2px 2px 6px #aaaaaa;
    &:hover {
      box-shadow: 4px 4px 12px #888888;
    }
  }
}

nav.p-breadcrumb {
  background: transparent;
  padding: 0 16px;
  overflow-x: auto;
  font-size: 15px;
  a {
    cursor: pointer;
  }
}
